<h3><%= @trip.name %></h3>

<hr>
<h4>Locations</h4>
  <% @trip.all_locations.each do |location| %>
    <%= location.address %> <%= location.city %>
  <%end%>
<h4>Legs</h4>

<% @trip.legs.each do |leg| %>
  <br>
  <%= leg.start_location.city %>
  <% if !leg.end_location.nil? %>
    to <%= leg.end_location.city %><br>
  <% end %>
<%end%>

<%= button_to 'Compute Best Route', trip_path(@trip)  %>

<hr>
<h5>Add new Location</h5>
<%= form_for [@trip, @location] do |f| %>
  <%= f.label :address %>:
  <%= f.text_field :address %><br>

  <%= f.label :city %>:
  <%= f.text_field :city %><br>

  <%= f.label :state %>:
  <%= f.text_field :state %><br>

  <%= f.label :country %>:
  <%= f.text_field :country %><br>

  <%= f.label :area_code %>:
  <%= f.text_field :area_code %><br>

  <%= f.submit %>
<% end %>
